<section class="my-8 px-1/5 text-center">
  <h3>Components</h3>

  {{toolbox-push-linkto "Buttons" "buttons" type="go"}}
  {{#toolbox-push-linkto "comments" type="drop" capitalized=true}}<span class="font-normal"></span>Comments{{/toolbox-push-linkto}}
  {{toolbox-push-linkto "Fields" "inputs" type="go"}}
  {{toolbox-push-linkto "Tables" "tables" type="go"}}
  {{toolbox-push-linkto "Popups and overlay" "popups" type="go"}}
  {{toolbox-push-linkto "Selectors" "selectors" type="go"}}
  {{toolbox-push-linkto "Tabs" "tabs" type="go"}}

</section>
