<div class="flex flex-col sm:flex-row m-8 py-4 min-h-screen border-b-2 border-dashed border-grey-dark overflow-hidden">

  <div class="sm:w-3/5 p-4 overflow-hidden inline-block">
    <h4>Modal dialog</h4>

    <div class="example">
      <h4>Example</h4>
      {{#toolbox-modal as |modal|}}
        {{#modal.trigger}}
          {{{trigger}}}
        {{/modal.trigger}}

        {{#modal.content}}
          {{{content}}}
        {{/modal.content}}

      {{/toolbox-modal}}
    </div>

    <br/><br/>

    <div class="configuration">
      <h5>Configuration</h5>

      <div>
        <label>
          Trigger
        </label>
        {{textarea value=newTrigger}}
        <button {{action (mut trigger) newTrigger}}>Submit</button>
      </div>

      <div>
        <label>Content</label>
        {{textarea value=newContent}}
        <button {{action (mut content) newContent}}>Submit</button>
      </div>
    </div>

  </div>

  <div class="sm:w-2/5 p-4 overflow-hidden inline-block">
    <h4>Overlays</h4>

    <div class="example">
      <h5>Example</h5>
      {{toolbox-button class="m-2" type="naked" title="Show normal overlay" clicked=(action "showOverlay" null)}}
      {{toolbox-button class="m-2" type="go" title="Show tooltip overlay" clicked=(action "showOverlay" "tooltip")}}
      {{toolbox-button class="m-2" type="drop" title="Show error overlay" clicked=(action "showOverlay" "error")}}

      {{#toolbox-field as |field|}}
        {{#field.label}}Value{{/field.label}}

        {{#field.data as |data|}}

          {{#data.value as |value|}}
            {{value.input value=textValue}}
          {{/data.value}}
        {{/field.data}}

        {{#field.note}}
          Focus this input to make a "text" overlay appear.
        {{/field.note}}
      {{/toolbox-field}}
    </div>

  </div>

</div>